/**
 * exitIntentLayer CSS
**/
.mod_exitintent {
    display: none;
    visibility: hidden;
    opacity: 0;
}

body.exitintent_open {
    overflow: hidden;
    overflow-y: hidden;
    height: 100vh;
    max-height: 100vh;
}
body.exitintent_open .exitintent_layer {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.exitintent_layer {
    display: none;
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;    
    bottom: 0;
    height: 100%;    
    width: 100%;
    background: transparent;
}

.exitintent_layer .inside_wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    display: block;
    width: 900px;
    height: auto;
    margin: 0 auto;
    background: #FFF;
    text-align: center;
    white-space: nowrap;
}

.exitintent_layer.fullsize .inside_wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;

}

.exitintent_layer .inside_wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.exitintent_layer .content_container {
    display: inline-block;
    width: 100%;
    max-width: 900px;
    padding: 5em 3em;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}

.exitintent_layer .close {
    position: absolute;
    top: .5em;
    right: 1em;
    display: block;
    height: 2em;
    line-height: 2;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    opacity: .35;
}

.exitintent_layer .close:hover {
    opacity: 1;
}

.exitintent_layer .close:before {
    content: '\2718';
    float: right;
    display: inline-block;
    margin: 0 0 0 .25em;
    font-size: 2em;
    line-height: 1;    
}

@media screen and (max-width: 1024px) {
    .exitintent_layer .inside_wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;

        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .exitintent_layer .content_container {
        padding: 2em 1em;
    }
}

/**
 * themes
 */
.exitintent_layer.light {
    background: rgba(255,255,255,.66);
}

.exitintent_layer.light * {
    color: #171717;
}

.exitintent_layer.dark {
    background: rgba(51,51,51,.9);
}

.exitintent_layer.dark * {
    color: #FFF;
}

.exitintent_layer.dark .inside_wrapper {
    background: #171717;
}
